.container {
  @apply flex md:flex-row lg:flex-col md:w-full md:px-6 lg:p-0 lg:w-[350px] lg:h-[541px] md:items-center justify-between;
}

.container:not(.name) {
  @apply font-body;
}

.partition {
  @apply md:w-[350px] lg:w-full md:h-[280px] lg:h-[auto] md:flex md:flex-col md:justify-between lg:block;
}

.name {
  @apply md:text-[48px] lg:text-[80px] font-heading;
}

.description {
  @apply md:text-[11px] lg:text-[14px] leading-6 md:mb-6 md:mt-2 lg:my-6;
}

.source {
  @apply flex text-[14px] text-darkgray items-center mb-[30px];
}

.source a {
  @apply text-lightgray font-bold underline;
}

.buttons input[type="radio"] {
  @apply fixed opacity-0 w-0;
}

.buttons input[type="radio"]:checked + label {
  @apply bg-pastelblue border-[transparent];
}

.buttons input[type="radio"]:checked + label span {
  @apply text-darkgray;
}

.buttons {
  @apply flex flex-col md:h-[170px] lg:w-full justify-between gap-4;
}

.buttons label {
  @apply transition duration-200 font-bold tracking-[2.6px] py-3 px-8 border-2 text-[12px] border-darkgray hover:border-[transparent] hover:bg-pastelblue;
}

.buttons label:hover span {
  @apply text-darkgray;
}

.buttons label span {
  @apply font-bold mr-8 text-lightgray;
}
