@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  color: white;
}
html {
  min-height: 100%;
  background-image: url("/img/background-stars.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #070724;
}
body {
  min-height: 100%;
}
