.container {
  @apply flex flex-col;
}

.abomination {
  @apply relative flex flex-col justify-center;
}

.geology {
  @apply absolute md:w-[40%] lg:w-[200px] md:top-[200px] lg:top-[325px];
}

.information {
  @apply grid w-full max-w-[1440px] self-center justify-items-center mb-[87px];
}

@media only screen and (min-width: 768px) {
  .information {
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .information {
    grid-template-columns: 2.17fr 1fr;
    grid-template-rows: 1fr;
  }
}

.information img {
  @apply self-center md:max-h-[300px] lg:max-h-[541px];
}

.data {
  @apply w-full flex justify-center;
}
